<mat-grid-list cols="4">
  <div *ngFor="let filter of filterDef">
    <mat-grid-tile
      ><div [ngSwitch]="filter.type">
        <app-input-filter
          *ngSwitchCase="'input'"
          (enteredSearchValue)="onSearchValueAdded($event)"
          [placeholder]="filter.placeholder"
          [label]="filter.label"
        ></app-input-filter>

        <app-multiselect-filter
          *ngSwitchCase="'multiselect'"
          (selectedSearchValues)="onSearchValueAdded($event)"
          [label]="filter.label"
          [jsonAttributeName]="filter.jsonAttributeName"
        ></app-multiselect-filter>

        <app-checkbox-filter
          *ngSwitchCase="'checkbox'"
          [label]="filter.label"
          (clickedCheckbox)="onSearchValueAdded($event)"
        ></app-checkbox-filter></div
    ></mat-grid-tile>
  </div>
</mat-grid-list>
