<mat-grid-list cols="4" rowHeight="6em">
  <form [formGroup]="filterForm">
    <div *ngFor="let filter of filterDef">
      <mat-grid-tile>
        <div [ngSwitch]="filter.type">
          <app-input-filter
            *ngSwitchCase="'input'"
            [filterDef]="filter"
            [parentForm]="filterForm"
          ></app-input-filter>

          <app-multiselect-filter
            *ngSwitchCase="'multiselect'"
            [filterDef]="filter"
            [parentForm]="filterForm"
          ></app-multiselect-filter>

          <app-checkbox-filter
            *ngSwitchCase="'checkbox'"
            [filterDef]="filter"
            [parentForm]="filterForm"
          ></app-checkbox-filter>

          <!--more filter options, eg date picker, ... -->
        </div>
      </mat-grid-tile>
    </div>
  </form>
</mat-grid-list>
<div>
  <button mat-button (click)="resetFilter()" class="reset-button" color="warn">
    Reset filter
  </button>
</div>
